<p>
  {{link-to 'Index' 'index'}},
</p>

<p>
  Simple:
  {{link-to 'Multiple components' 'multiple'}},
  {{link-to 'Single template' 'template'}},
  {{link-to 'HTML string' 'html'}}
</p>

<p>
  Styled:
  {{link-to 'Multiple components' 'multiple-styled'}},
  {{link-to 'Single template' 'template-styled'}},
  {{link-to 'HTML string' 'html-styled'}}
</p>

<hr>

{{outlet}}

{{fork-me "https://github.com/Deveo/ember-render-test"}}